@page
@model PerfilesMItic.Pages.Departamentos.CreateModel

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Departamentos</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Departamento.Nombre" class="control-label">Nombre del Departamento</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                                <input asp-for="Departamento.Nombre" class="form-control" />
                            </div>
                            <span asp-validation-for="Departamento.Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Create" class="btn btn-outline-primary">Agregar</button>
                        </div>
                    </form>
                    <div>
                        <a asp-page=".Index">Lista de Departamentos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
