@page "/Conyuges/AgregarConyuge"
@model PerfilesMItic.Pages.Conyuges.CreateModel

@{
    ViewData["Title"] = "Create";
}


<hr />
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Datos del Conyuge</h2>
        </div>
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-sm-10 col-md-10 col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Conyuge.NombreC" class="control-label"> Nombre del Conyuge</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user-alt"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Conyuge.NombreC" class="form-control" />
                                </div>
                                <span asp-validation-for="Conyuge.NombreC" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Conyuge.ApellidoC" class="control-label">Apellido del Conyuge</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user-alt-slash"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Conyuge.ApellidoC" class="form-control" />
                                </div>
                                <span asp-validation-for="Conyuge.ApellidoC" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Conyuge.SexoC" class="control-label">Sexo del Conyuge</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-restroom"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Conyuge.SexoC" class="form-control" />
                                </div>
                                <span asp-validation-for="Conyuge.SexoC" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Conyuge.CedulaC" class="control-label">Cedula de Identidad</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-id-card"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Conyuge.CedulaC" class="form-control" />
                                </div>
                                <span asp-validation-for="Conyuge.CedulaC" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Conyuge.TelefonoC" class="control-label">Linea Baja</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Conyuge.TelefonoC" class="form-control" />
                                </div>
                                <span asp-validation-for="Conyuge.TelefonoC" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Conyuge.CelularC" class="control-label">Telefono Móvil</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-mobile-alt"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Conyuge.CelularC" class="form-control" />
                                </div>
                                <span asp-validation-for="Conyuge.CelularC" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-xs-12">
                            <div class="form-group">
                                <button type="submit" value="Create" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>               
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
