@page
@model PerfilesMItic.Pages.Conyuges.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Conyuge</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Conyuge.IdConyuge" />
            <div class="form-group">
                <label asp-for="Conyuge.NombreC" class="control-label"></label>
                <input asp-for="Conyuge.NombreC" class="form-control" />
                <span asp-validation-for="Conyuge.NombreC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conyuge.ApellidoC" class="control-label"></label>
                <input asp-for="Conyuge.ApellidoC" class="form-control" />
                <span asp-validation-for="Conyuge.ApellidoC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conyuge.SexoC" class="control-label"></label>
                <input asp-for="Conyuge.SexoC" class="form-control" />
                <span asp-validation-for="Conyuge.SexoC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conyuge.CedulaC" class="control-label"></label>
                <input asp-for="Conyuge.CedulaC" class="form-control" />
                <span asp-validation-for="Conyuge.CedulaC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conyuge.TelefonoC" class="control-label"></label>
                <input asp-for="Conyuge.TelefonoC" class="form-control" />
                <span asp-validation-for="Conyuge.TelefonoC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conyuge.CelularC" class="control-label"></label>
                <input asp-for="Conyuge.CelularC" class="form-control" />
                <span asp-validation-for="Conyuge.CelularC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
