@page
@model PerfilesMItic.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Funcionario</h4>
<hr />
   
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9 col-md-9 col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Cedula" class="control-label">Cedula de Identidad</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-id-card"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Cedula" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Cedula" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Nombre" class="control-label">Nombres</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Nombre" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Nombre" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Apellido" class="control-label">Apellidos</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Apellido" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Apellido" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.FechaNacimiento" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.FechaNacimiento" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Sexo" class="control-label">Ingrese Su Sexo</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user-circle"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Sexo" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Sexo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Telefono" class="control-label">Linea Baja</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-phone-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Telefono" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Telefono" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.TelefonoMovil" class="control-label">Celular</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-mobile"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.TelefonoMovil" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.TelefonoMovil" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.EstadoCivil" class="control-label">Estado Cilvil</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user-slash"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.EstadoCivil" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.EstadoCivil" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Direccion" class="control-label">Direccion</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-address-card"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Direccion" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Direccion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.Correo" class="control-label">Correo Institucional</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.Correo" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.Correo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.TipoFuncionario" class="control-label">Relacion con la Institucion</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user-astronaut"></i>
                                            </span>
                                        </div>
                                        <input asp-for="Funcionario.TipoFuncionario" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Funcionario.TipoFuncionario" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="Funcionario.EmailParticular" class="control-label">Correo Particular</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">

                                        </div>
                                    </div>
                                    <input asp-for="Funcionario.EmailParticular" class="form-control" />
                                    <span asp-validation-for="Funcionario.EmailParticular" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





       
        
        
       
        
       
       
        
        <div class="form-group">
            <label asp-for="Funcionario.Observaciones" class="control-label"></label>
            <input asp-for="Funcionario.Observaciones" class="form-control" />
            <span asp-validation-for="Funcionario.Observaciones" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Funcionario.Activo" /> @Html.DisplayNameFor(model => model.Funcionario.Activo)
            </label>
        </div>
        
        <div class="form-group">
            <label asp-for="Funcionario.JpgImagen" class="control-label"></label>
            <input asp-for="Funcionario.JpgImagen" class="form-control" />
            <span asp-validation-for="Funcionario.JpgImagen" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
