@page
@model PerfilesMItic.Pages.IndexModel
@{
}


<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Ingrese y Complete su Perfil</h1>
        </div>
        <div class="card-body">
            <div class="card-img-bottom">
                <a class="btn btn-outline-info" asp-page="Funcionarios/Create">
                   Complete su Perfil
                </a>
            </div>
        </div>
    </div>
</div>